.masterDiv {
  background-color: grey;
  color: rgb(128, 19, 19);
}

.informationBox {
  border: 2px solid darkgrey;
  width: 50%;
  float:left;
}
.groupExamples {
  border: 2px solid darkgrey;
  width: 50%;
}

.boxes {

}

#candidatesTable, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 10px;
  width: 100%;
}
th {
  text-align: center;
}
td {
  text-align: left;
}