#informationBox {
  border: 2px solid white;
  border-spacing: 15px;
  height: min-content;
  margin: 25px;
  grid-column-start: 1;
}

#groupExamples {
  overflow: auto;
  margin: 25px;
  border: 2px solid white;
  border-spacing: 15px;
  grid-column-start: 2;
}

p.titles {
  text-align: left;
  text-decoration: underline;
}

#candidatesTable,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 10px;
  width: 100%;
}

th {
  text-align: center;
}

td {
  text-align: left;
}

body {
  background-color: grey;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#leaveButton {
  display: none;
}

.titles {
  text-align: left;
  font-size: medium;
}

h1 {
  text-align: center;
  font-size: 150%;
  text-decoration: underline;
}
