#masterDiv {

  color:white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

#informationBox {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid white;
  border-spacing: 15px;
  height: 75%;
  /* position: fixed; */
}
#groupExamples {
  overflow: scroll;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid white;
  border-spacing: 15px;
  height: 75%;
}
p.titles {
  text-align: center;
  text-decoration: underline;
}
#candidatesTable, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 10px;
  width: 100%;
}
th {
  text-align: center;
}
td {
  text-align: left;
}

body {
  background-color: grey;
}