h1 {

}

fieldset {
  display: inline-block;
}

input {
  display: block;
  margin: 1em;
}

.center {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.error {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  right: 0;
  background-color: #ffafa4;
  border-left: 0.5em solid #ff3f34;
  padding: 1em;
}
